:root {
  --pallette-500: #637479;
  --pallette-800: #40474a;
  --pallette-950: #232729;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

header {
  background-color: var(--pallette-950);
  color: #fac650;
  padding: 45px 0;
}

.heading {
  font-size: 40px;
}

main {
  padding: 35px;
}

main,
footer,
#modal {
  background-color: var(--pallette-800);
  color: white;
}

footer {
  padding: 35px;
}

.message {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 30px;
}

p,
.message {
  font-weight: bold;
}

.scoreContainer,
.hand-selection {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.scoreContainer {
  margin-top: 35px;
}

.playerHand,
.computerHand,
.hand {
  font-size: 80px;
  margin-bottom: 25px;
}

.playerHand + p,
.computerHand + p {
  font-size: 25px;
}

.hand-selection {
  margin-top: 90px;
}

.hand {
  background-color: var(--pallette-500);
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s;
}

.hand:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.hand:active {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1);
}
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex; /* Or use display: none initially */
  justify-content: center;
  align-items: center;
}

#modal {
  background-color: var(--pallette-950);
  position: fixed;
  color: white;
  padding: 25px;
  font-size: 35px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#modal-overlay.hidden {
  display: none;
}

#modal button {
  margin-top: 15px;
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 5px;
  border: unset;
  cursor: pointer;
  color: white;
  background-color: var(--pallette-500);
}

#modal button:hover {
  background-color: #74878d;
}
#modal button:active {
  background-color: #879ea5;
}
